.article-wrapper {
  display: flex;
  flex-direction: row;
  position: relative;
  margin: 0 auto;
  padding: 15px 20px;
  width: 1100px;

  &-left {
    flex: 2;
  }
  &-right {
    flex: 1;
  }
}

.article-list {
  &-container {
    max-width: 1000px;
    height: 1200px;
    margin: 0 24px;
    background: #fff;
    border-radius: 5px;
    background-color: #f5f9fb;
    box-shadow: 0 3px 8px 6px rgb(7 17 27 / 5%);
  }
}
