.recommend-card {
  &-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }

  &-item {
    min-width: 200px;
    width: 400px;
    height: 300px;
    margin: 24px;
  }
}

@media screen and (max-width: 700px) {
  .recommend-card {
    &-container {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
    }

    &-item {
      min-width: 200px;
      width: 400px;
      height: 250px;
      margin: 0 24px 24px;

    }
  }
}