.recommend-card {
  &-container {
    width: 100%;
    height: 22rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &-item {
    min-width: 200px;
    height: 250px;
  }
}
