.article {
  &-detail-wrapper {
    position: relative;
    margin: 0 auto;
    padding: @--size-12 @--size-24;
    max-width: 1100px;
  }

  &-container {}

  &-title {
    font-size: @--size-24;
    line-height: @--size-24;
    font-weight: 600;
    margin: @--size-12 auto @--size-6;
    text-align: center;
  }

  &-sub-description {
    display: flex;
    flex-direction: column;
  }

  &-time {
    display: flex;
    flex-direction: row;
    padding: @--size-12 0;
    justify-content: center;

    &-created {
      font-size: @--size-10;
      color: @--color-99;
    }

    &-updated {
      margin-left: @--size-12;
      font-size: @--size-10;
      color: @--color-99;
    }
  }

  &-content {
    overflow-x: hidden;
    box-sizing: border-box;
    min-height: calc(100vh - 240px);
    margin: 0 auto;
    padding: @--size-24;
    background-color: #fff;
    border-right: @--border-gray;
    border-left: @--border-gray;

    img,
    audio,
    video {
      max-width: 100%;
      height: auto;
    }

    p {
      white-space: pre-wrap;
      min-height: 1em;
    }

    pre {
      padding: 15px;
      background-color: #f1f1f1;
      border-radius: 5px;
    }

    blockquote {
      margin: 0;
      padding: 15px;
      background-color: #f1f1f1;
      border-left: 3px solid #d1d1d1;
    }
  }
}

@media screen and (max-width: 700px) {
  .article {
    &-content {
      min-height: calc(100vh - 280px);
    }

    &-time {
      flex-direction: column;
      align-items: center;

      &-updated {
        margin-left: 0;
      }
    }
  }

}